.App {
  display: grid;
  grid-template-columns: 4fr 1.4fr;
  /* width: 100dvw; */
  height: 100dvh;
}
.main_body {
  grid-column: 1/2;
}
.sideBar {
  grid-column: 2/3;
  backdrop-filter: blur(9px) saturate(158%);
  -webkit-backdrop-filter: blur(6px) saturate(158%);
  background-color: rgba(180, 210, 247, 0.178);
  border-left: 2px solid rgba(253, 249, 249, 0.336);
}
.weather-detail-text{
  margin: 0 1.5rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}
@media (max-width: 678px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
  }
  .sideBar {
    grid-column: 1/2;
    place-items: center;
  }
}
